/*
Name: Google News SASS
Version: 1.0
*/

@import "colors.scss"; /*Colors SASS file*/
@import "mixin.scss"; /*Mixin SASS file*/
@import "fonts.scss"; /*Fonts SASS file*/
@import "header.scss"; /*Header SASS file*/
@import "articles.scss"; /*Articles SASS file*/

html {
  width: 100%;
  margin: 0;
  border-top: 2px solid $link-hover;
}

body {
  width: 90%;
  overflow-x: hidden;
  display: block;
  clear: both;
  padding: 0;
  margin: 0px auto;
  box-sizing: border-box;
  font-family: $primary-font;
  font-size: 13pt;
  color: black;
}

@media screen and (max-width: 1024px) {
  /*All Devices*/

  html.touch *:hover {
    pointer-events: none !important;
  }

  html,
  body {
    width: 100% !important;
    margin: 0px !important;
    overflow-x: hidden !important;
    -webkit-text-size-adjust: none; /* Prevent font scaling in landscape */
  }

  body {
    margin: 0 0 20px;
    height: auto;
    min-height: 100%;
  }
}

#content {
  width: 100%;
  margin: 0 auto;
  display: block;
  overflow: hidden;
}
/* === LOCK MENU LAYOUT ACROSS PAGES === */
/* Fullbredd på linjerna, men centrera innehållet identiskt på alla sidor */
#header nav#menu {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  /* behåller ev. border-top/bottom du redan har satt */
}

/* Centrera UL-innehållet till 90% så det matchar index */
#header nav#menu > ul {
  display: block;        /* viktig: inte flex */
  width: 90%;
  margin: 0 auto;        /* centrerar länkblocket */
  padding: 0;
  white-space: nowrap;   /* förhindra radbryt som kan flytta allt */
  text-align: left;
}

/* Exakt samma mellanrum som index: inline-block + margin 0 1% */
#header nav#menu > ul > li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 1%;
  padding: 0;
}
#header nav#menu > ul > li:first-child { margin-left: 0; }

/* Länkstil som inte ändrar layoutbredd när "current" skiftar */
#header nav#menu a {
  letter-spacing: normal;
  font-weight: 700;        /* samma vikt för alla länkar (som index) */
  padding: 0;              /* ingen extra padding som påverkar gap */
  border-bottom: 0;        /* nollställ tidigare underline som puttar layout */
}

/* Markera aktiv länk utan att påverka layout-höjd/bredd */
#header nav#menu a.current {
  color: #16315e;
  border-bottom: 0;        /* säkerställ att ev. gamla regler inte gäller */
  padding-bottom: 0;
  box-shadow: inset 0 -3px 0 0 #16315e;  /* visuell underline utan layoutskift */
}

/* Sökfältet följer samma baseline och tar inte extra horisontellt utrymme */
#header nav#menu > ul > li.search {
  margin: 0 1%;
  padding: 0;
}
